.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.authIcons {
  margin-top: 50px;
}

.loginButton {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.forgotLink {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
